<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @todo.detail %>
</p>

<p>
  <strong>Is done:</strong>
  <%= @todo.is_done %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
